.dashboard-main {
  background-color: aqua;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.dashboard-content-wrapper {
  background-color: #883cf3;
  height: 100vh;
  flex-grow: 1;
}

.dashboard-content {
  background-color: #121212;
  height: 100%;
  border-radius: 0.875rem 0 0 0;
}

@media (prefers-color-scheme: light) {
  .dashboard-content {
    background-color: #f5f5f5;
  }
}

/* SIDEBAR LOGO STYLES */

.sidebar-logo-wrapper {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.sidebar-logo-wrapper img {
  width: 30px;
  height: auto;
}

.sidebar-logo-big {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.sidebar-logo-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

/* SIDEBAR LINKS STYLES */

.sidebar-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  height: 100%;
  width: 100%;
}

.sidebar-links-wrapper-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 10px;
}
