.dashboard-main{
    background-color: cadetblue;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.dashboard-content-wrapper{
    background-color: #121212;
    flex-grow: 1;
    height: 100vh;
}

.dashboard-content{
background-color: azure;
height: 100%;
border-radius: 10px 0 0 10px;
}