.sidebar-desktop {
    height: 100%;
    padding: 1rem 1rem; /* py-4 and px-4 */
    display: none; /* hidden */
    background-color: #f5f5f5; /* bg-neutral-100 */
    width: 300px;
    flex-shrink: 0;
}

@media (prefers-color-scheme: dark) {
    .sidebar-desktop {
        background-color: #121212; /* dark:bg-neutral-800 */
    }
}

@media (min-width: 768px) {
    .sidebar-desktop {
        display: flex; /* md:flex */
        flex-direction: column; /* md:flex-col */
    }
}