.sidebar-desktop {
    height: 100%;
    padding: 1rem 1rem; /* py-4 and px-4 */
    display: none;
    flex-direction: row; /* hidden */
    background-color: #883cf3; /* bg-neutral-100 */
    width: 300px;
    flex-shrink: 0;
}

@media (prefers-color-scheme: dark) {
    .sidebar-desktop {
        background-color: #121212; /* dark:bg-neutral-800 */
    }
}

@media (min-width: 768px) {
    .sidebar-desktop {
        display: flex; /* md:flex */
        flex-direction: column; /* md:flex-col */
    }
}

.sidebar-link.active {
    background-color: #f0f0f0;
    ;
    font-weight: 600;
}

/* Ensure buttons have same styles as original links */
.sidebar-link {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
}

.sidebar-link:hover {
    background-color: #f9f9f9;
}

.sidebar-link-content{
    color: #fff;
    margin-left: 1rem;
}